.body__messages {}

.messages-body {
    min-height: 500px;
    background: #616161;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 25px 15px;

    &__row {
        display: flex;
        min-height: 100%;
    }

    &__dialogs {
        margin: 0px 10px 0px 0px;
        padding: 0 15px 0 0px;
        border-right: 3px solid rgb(223, 223, 223);
    }

    &__image img {
        max-width: 30px;
        margin: 0px 10px 0px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
    }

    &__user {
        background-color: #4b4b4e;
        border-radius: 5px;

        &:hover {
            background-color: #000;
        }
    }

    &__dialog {
        margin: 0px 0px 10px 0px;
        padding: 5px 5px 5px 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__messages {
        padding: 10px;
        height: 350px;
        overflow-x: scroll;
    }

    &__message {
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin: 0px 0px 10px 0px;
        padding: 10px;
        width: 350px;
        background-color: #D9D9D9;
        border: 2px solid #B5E48C;
        color: #000;
    }

    &__form {
        padding: 10px;
        border-top: 1px solid #dfdfdf;

        textarea {
            background-color: #FFFFFF;
            resize: none;
        }
    }

    &__userphoto {
        img {
            width: 40px;
            height: 40px;
        }
        margin: 0px 20px 0px 0px;
    }

    &__username {

    }

    &__block {
        display: flex;
        align-items: center;
        margin: 0px 0px 5px 0px;
    }

    &__messagefield {
        margin: 0px 0px 20px 0px;
        border-bottom: 1px solid #000;
    }
}
