.login {

    &__body {
        background: #938f8f;
        border-radius: 25px;
        padding: 20px
    }

    &__form {
        padding: 20px 30px;
    }
}

.form {
    border: 2px solid #4b4b4e;
    padding: 20px;
    width: 420px;
    border-radius: 24px;

    * {
        margin: 0px 0px 5px 0px;
    }
}

.password__form {
    margin: 0px 0px 0px 0px;
    display: flex;
}

.password {
    display: flex;
}

.button__form {}

.error {
    font-size: 12px;
    color: red;
}
