.body__login {}

.login-body {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    &__form {
        padding: 20px 30px;
    }
}

.form {
    border: 2px solid #eeeeee;
    padding: 20px;
    width: 420px;
    border-radius: 24px;
    * {
        margin: 0px 0px 5px 0px;
    }
}

.login__form {
    margin: 0px 0px 20px 0px;
}

.password__form {
    margin: 0px 0px 20px 0px;
    display: flex;
}
.password {
    margin: 0px 20px 0px 0px;
}

.button__form {
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.error {
    font-size: 12px;
    color: red;
}
