.body {

    &__container {
        padding: 0px 15px;
    }

    &__row {
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-template-rows: 1fr;
    }

    &__navigation {
    }

    &__profile {
    }
}
