.body {
    margin: 0px 0px 20px 0px;

    &__container {
        padding: 0px 15px;
    }

    &__row {
        display: grid;
        grid-template-columns: 180px 1fr;
    }

    &__navigation {
    }

    &__profile {
    }

    &__messages {
    }

    &__news {
    }

    &__music {
    }

    &__settings {
    }
}
