.profile-body {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 15px;
    &__board {
        position: relative;
        height: 300px;
        width: 100%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }

    &__user {}

    &__user-info {
        display: flex;
        align-items: start;
        padding: 20px 20px 10px 20px;
    }

    &__avatar {
        margin: 0px 20px 0px 0px;
    }

    &__avatar img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    &__info {
        margin: 20px 0px 0px 0px;
    }

    &__posts {
        padding: 10px 20px 20px 20px;
    }

    &__input {
        margin: 0px 0px 20px 0px;
    }

    &__my {
        margin: 0px 0px 15px 0px;
    }

    &__myPosts {
        // height: 160px;
        // overflow-x: scroll;
    }

    &__form {
        // display: flex;
        margin: 0px 0px 40px 0px;
    }

    &__post {
        background-color: #aaa;
        margin: 0px 0px 10px 0px;
    }
}

.info-profile-body {
    // font-size: 18px;

    &__name {
        font-size: 24px;
        font-weight: 700;
        margin: 0px 0px 5px 0px;
    }

    &__job {
        margin: 20px 0px 0px 0px;
    }

    &__inst {}

    &__vk {}

    &__website {
        text-decoration: underline;
    }
}
