.profile-body {
    background: #616161;
    border-radius: 25px;
    display: flex;
    padding: 0px 0px 25px 0px;

    &__user {}

    &__user-info {}

    &__avatar {}

    &__avatar img {}

    &__info {}

    &__posts {
        width: 620px;
    }

    &__input {
        padding: 20px;
    }

    &__my {
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        text-align: end;
        margin: 0px 0px 5px 0px;
    }

    &__myPosts {}

    &__form {
        margin: 0px 0px 10px 0px;
        display: flex;

        form {}

        textarea {
            background: #FFFFFF;
            border-radius: 15px;
            height: 100%;
            width: 540px;
            color: #000;
        }

        .button {
            background: #B5E48C;
            border: 2px solid #000000;
            border-radius: 50%;
            overflow: hidden;
            width: 40px;
            height: 40px;
            z-index: 2;

            &:hover {
                background-color: #91C763;
            }
        }
    }

    &__addpost {
        display: flex;
        align-items: center;
        margin: 0 0 0 -50px;
        z-index: 2;

        button {
            background: #B5E48C;
            border: 2px solid #000000;
            border-radius: 50%;
            overflow: hidden;
            width: 30px;
            height: 30px;
            z-index: 2;

            &:hover {
                background-color: #91C763;
            }
            img {
                margin: 2px 0px 0px 0px;
                z-index: 2;
            }
        }
    }

    &__wrapper-post {
        display: flex;
        justify-content: end;

        &:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__post {
        background: #D9D9D9;
        border: 2px solid #B5E48C;
        box-sizing: border-box;
        border-radius: 15px;
        color: #000;
        padding: 10px;
        width: 450px;
    }
}

.profile__username {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

.profile__edit {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #B5E48C;
    margin: 0px 0px 0px 15px;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: #91C763;
        transition: all 0.3s ease 0s;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.profile__user {
    display: flex;
    align-items: center;
}

.profile__status {
    margin: 0px 0px 10px 0px;
}

.profile__settings {
    display: none;
}

.profile__setedit {
    width: 60px;

    p {
        width: 115px;
        height: 22.5px;
        cursor: pointer;
    }
}

.profile__setedit:hover {
    width: 100%;

    .profile__settings {
        display: block;
        background-color: #D9D9D9;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid #B5E48C;
        color: #000;
        position: absolute;
        margin: 0px 0px 0px 20px;
    }
}

.profile__wpform {
    padding: 22.5px 0px 0px 0px;
}

.profile__form {
    display: block;
        background-color: #D9D9D9;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid #B5E48C;
        color: #000;
        position: absolute;
        margin: -22.5px 0px 0px 20px;
        max-height: 440px;
        overflow-x: scroll;
}

.info-profile-body {

    &__name {}

    &__job {}

    &__inst {}

    &__vk {}

    &__website {}
}

.error {
    color: red;
}

.post__element {}

/* COLORS
========================================== */

$bg-color: #D9D9D9;
$color-1: #616161;
$color-2: #000000;
$color-3: #B5E48C;

$white: #ffffff;
$black: #000000;

// Social media

$gmail: #d14836;
$facebook: #3b5998;
$twitter: #1da1f2;

/* MIXINS
========================================== */

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -o-animation: #{$animation};
    animation: #{$animation};
}

@mixin keyframes($keyframes) {
    @-webkit-keyframes #{$keyframes} {
        @content;
    }

    @-moz-keyframes #{$keyframes} {
        @content;
    }

    @-o-keyframes #{$keyframes} {
        @content;
    }

    @keyframes #{$keyframes} {
        @content;
    }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: #{$transition-delay};
    -moz-transition-delay: #{$transition-delay};
    -o-transition-delay: #{$transition-delay};
    transition-delay: #{$transition-delay};
}


/* CONTACT
========================================== */

.contact-area {}

.contact {
    position: relative;
    max-width: 420px;
    padding: 20px 20px 40px 20px;
    // overflow: hidden;

    main {
        float: left;
        width: 100%;
        position: relative;

        section {
            border-radius: 5px;
            float: left;
            width: 100%;
            background-color: $color-1;

            .content {
                float: left;
                width: 100%;
                padding: 0px 0px 30px 0px;
                position: relative;
                text-align: center;

                @media (min-width: 414px) {
                    text-align: left;
                }

                aside {
                    float: left;
                    width: 100%;
                    color: $white;
                    margin-top: 10px;
                    display: flex;
                    margin: 0px 0px 30px 0px;

                    @media (min-width: 414px) {
                        width: 60%;
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: .5px;
                        line-height: 160%;
                    }
                }
            }
        }

        .title {
            float: left;
            width: 100%;
            background-color: #D9D9D9;
            max-height: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            @include transition(all .55s);

            &.active {
                // &:active {
                max-height: 100px;
                margin: -40px 0px 0px 0px;
                @include transition(all 1.3s);

                p {
                    @include transform(scale(1));
                    transition-delay: .2s;
                }
            }

            p {
                padding: 15px 30px;
                color: $black;
                font-size: 16px;
                display: inline-block;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: .5px;
                @include transition(all .3s);
                @include transform(scale(0));
            }
        }

        .button {
            position: absolute;
            bottom: 0;
            right: 50%;
            background-color: $color-3;
            color: $color-2;
            border: 0;
            width: 150px;
            height: 40px;
            border-radius: 30px;
            font-size: 16px;
            letter-spacing: .5px;
            text-transform: uppercase;
            @include transition(all .4s);
            transition-delay: .1s;
            outline: none;
            overflow: hidden;
            z-index: 10;
            margin: 0px 40px 20px 0px;

            &:hover {
                background-color: #91C763;
            }

            span {
                opacity: 1;
                @include transition(opacity .2s);
                transition-delay: .4s;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                opacity: 0;
                @include transition(all .4s);

                path {
                    fill: $color-2;
                }
            }

            &.active {
                margin-right: 0;
                right: 20px;
                width: 65px;
                height: 65px;
                margin-bottom: 12.5px;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                border-radius: 65px;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

                span {
                    opacity: 0;
                    transition-delay: 0s;
                    width: 200px;
                }

                svg {
                    opacity: 1;
                    transition-delay: .5s;
                }
            }
        }
    }

    nav {
        float: left;
        width: 100%;
        overflow: hidden;
        max-height: 0px;
        @include transition(all .5s);

        &.active {
            max-height: 600px;
            @include transition(all 1s);

            a {
                opacity: 1;
                @include transform(translateY(0px));
                @include transition(all .7s);

                &:nth-of-type(1) {
                    transition-delay: .5s;
                }

                &:nth-of-type(2) {
                    transition-delay: .7s;
                }

                &:nth-of-type(3) {
                    transition-delay: .9s;
                }
            }
        }

        a {
            float: left;
            width: 100%;
            margin-top: 18px;
            background-color: $white;
            padding: 18px 20px;
            border-radius: 5px;
            text-decoration: none;
            @include transition(all .3s);
            opacity: 0;
            @include transform(translateY(-10px));
            position: relative;

            @media (min-width: 414px) {
                padding: 18px 30px;
            }

            .arrow {
                position: absolute;
                right: 15px;
                top: 50%;
                @include transform(translateY(-50%));

                path {
                    fill: darken($white, 10%);
                }
            }

            &.gmail {
                .icon {
                    svg {
                        background-color: $gmail;
                    }
                }

                .content {
                    h1 {
                        color: $gmail;
                    }
                }
            }

            &.facebook {
                .icon {
                    svg {
                        background-color: $facebook;
                    }
                }

                .content {
                    h1 {
                        color: $facebook;
                    }
                }
            }

            &.twitter {
                .icon {
                    svg {
                        background-color: $twitter;
                    }
                }

                .content {
                    h1 {
                        color: $twitter;
                    }
                }
            }

            .icon {
                float: left;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;

                svg {
                    width: 100%;
                    height: 100%;
                    padding: 14px;

                    path {
                        fill: $white;
                    }
                }
            }

            .content {
                h1 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: .4px;
                }

                span {
                    font-size: 14px;
                    color: darken($white, 30%);
                    display: block;
                    letter-spacing: .4px;
                }
            }
        }
    }
}

.custom-file-upload {
    border: 1px solid #ccc;
    cursor: pointer;
    opacity: 0;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: -115px 0px 0px 0px;
    transform: translate(0%, 100%);

    p {
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    transition: all .3s ease 0s;
}

.custom-file-upload:hover {
    opacity: .5;
    background-color: #aaa;
    transition: all .3s ease 0s;
}

.profile__image {
    img {
        display: inline-block;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        border: 3px solid #B5E48C;

        @media (min-width: 414px) {
            margin-right: 23px;
        }
    }
}
