.body__page {
    background: #938f8f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.users-body {
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin: 20px;
    }

    &__pages {
        display: flex;
        justify-content: center;
    }

    &__page {
        cursor: pointer;
        margin: 0px 5px 0px 0px;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.border {
    background: #4b4b4e;
    padding: 20px;
}

.wrap {
    height: 100%;
    position: relative;
}

.product-wrap {
    position: relative;
}

.product-wrap:after {
    content: '';
    background: rgba(75, 75, 78, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}

.border:hover .product-wrap:after {
    opacity: 1;
    transform: scale(1);
}

.product-wrap a {
    display: block;
    text-decoration: none;
}

.product-wrap img {
    display: block;
    width: 100%;
}

.loop-action {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.border:hover .loop-action {
    opacity: 1;
}

.loop-action a {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}

.loop-action a:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}

.loop-action a:hover {
    color: black;
}

.loop-action a:hover:after {
    left: 0%;
}

.border:hover {
    border-color: #4b4b4e;
}

.product-info {
    padding-top: 15px;
}

.product-title {
    font-weight: normal;
    font-family: "Open Sans";
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
