.body__page {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.body__users {}

.users-body {
    &__cards {
        display: flex;
        flex-wrap: wrap;
    }
    &__card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin: 25px 25px 25px 25px;
    }
    &__pages {
        display: flex;
        justify-content: center;
    }
    &__page {
        cursor: pointer;
        margin: 0px 5px 0px 0px;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-users-body {
    width: 257px;
    min-height: 300px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &__header {
        // display: flex;
        // align-items: center;
        // margin: 0px 0px 10px 0px;
    }

    &__image {
        margin: 0px 0px 20px 0px;
        transition: 0.8s;
        &:hover {
            border: 1px solid rgb(236, 236, 226);
            transition: 0.8s;
        }
    }

    &__image img {
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    &__location {}

    &__country {}

    &__city {}

    &__button {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
}
