.navigation-body {
    margin: 0px 0px 31px 0px;
    border-radius: 5px;
    height: 70px;
    border-bottom: 3px solid #D9D9D9;

    &__list {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 200;

        a:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }
    }

    &__link {
    }
}
