.navigation-body {
    margin: 0px 0px 15px 0px;
    background: #938f8f;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 5px;

    &__list {
        display: flex;
        align-items: center;
        padding: 10px;
        a:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }
    }

    &__link {
        background: #4b4b4e;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        padding: 5px;

        &:hover {
            background-color: #000;
        }
    }
}
