
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #FAFAFD;
    > main {
        flex: 1 1 auto;
    }
}

[class*=__container] {
    max-width: 994px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}
[class*=__body] {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 5px;
}
