.footer {
    padding: 0px 15px 0 15px;
    &__container {
        height: 60px;
        background-color: #ffa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__copy {
        text-transform: uppercase;
        text-decoration: underline;
        background-color: #fee;
    }
}