// import ui from '../../../scss/ui.module.scss';
// .
// .
// .
//========================================================================================================================================================

._btn {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    font-family: 'Forum';
    // font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

._btn:hover {
    box-shadow: 0 0 10px 0 #000 inset, 0 0 10px 4px #000;
    color: #000;
}

//========================================================================================================================================================

._area {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
}

//========================================================================================================================================================
.nav {}

.nav_active {
    li {
        background-color: rgb(223, 223, 223);
    }

    &:hover {
        li {
            background-color: rgb(223, 223, 223);
            // color: rgb(223, 223, 223);
        }
    }
}

//========================================================================================================================================================
.dialog {}

.dialog_active {
    font-size: 48px;
    color: gold;
}

//========================================================================================================================================================
.selected {
    font-weight: bold;
}

//========================================================================================================================================================
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

//========================================================================================================================================================
.input {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 5px;

    &__div {
        display: flex;
        align-items: center;
        font-size: 16px;

        &:hover {
            background-color: rgb(240, 240, 240);
        }
    }
}

//========================================================================================================================================================
.error {
    color: tomato;
    padding: 0px 0px 10px 0px;
}
