// import ui from '../../../scss/ui.module.scss';
// .
// .
// .
//========================================================================================================================================================
._btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    // font-size: 20px;
    // margin: 0px 0px 40px 0px;
    &:hover {
        background-color: rgb(223, 223, 223);
    }

    &:disabled {
        border: 1px solid blue;
    }
}

._area {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
}

//========================================================================================================================================================
.nav {}

.nav_active {
    li {
        background-color: rgb(223, 223, 223);
    }

    &:hover {
        li {
            background-color: rgb(223, 223, 223);
            // color: rgb(223, 223, 223);
        }
    }
}

//========================================================================================================================================================
.dialog {}

.dialog_active {
    font-size: 48px;
    color: gold;
}

//========================================================================================================================================================
.selected {
    font-weight: bold;
}

//========================================================================================================================================================
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

//========================================================================================================================================================
.input {
    border: 1px solid #000;
    background-color: rgb(240, 240, 240);
    font-size: 16px;
    padding: 5px;

    &__div {
        display: flex;
        align-items: center;
        font-size: 16px;
        &:hover {
            background-color: rgb(240, 240, 240);
        }
    }
}
