// import ui from '../../../scss/ui.module.scss';
// .
// .
// .
//========================================================================================================================================================

._btn {
    padding: 4px 25px;
    background: #D9D9D9;
    border-radius: 25px;
    color: #000;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;

    &:hover {
        box-shadow: 0 0 15px #B5E48C;
    }
}

//========================================================================================================================================================

._area {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    height: 36px;
    color: #000;

    &:focus {
        border: 3px solid #B5E48C;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
}

//========================================================================================================================================================
.nav {
    &:hover {
        li {
            box-shadow: 0 0 15px #B5E48C;
        }
    }
}

.nav_active {
    li {
        border: 2px solid #B5E48C;
    }
}

//========================================================================================================================================================
.dialog {}

.dialog_active {
    background-color: #000;
}

//========================================================================================================================================================
.num {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4e;
    cursor: pointer;
    width: 35px;
    height: 35px;

    &:hover {
        background-color: #000;
    }
}

.selected {
    font-weight: bold;
    color: gold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 35px;
    height: 35px;
}

//========================================================================================================================================================
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

//========================================================================================================================================================
.input {
    border: 1px solid #B5E48C;
    background-color: #6b6b6b;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    width: 250px;

    &::placeholder {
        color: #aaa;
    }

    &__div {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin: -3px -5px;
        padding: 3px 5px;

        span {
            width: 250px;
        }

        &:hover {
            background-color: #6b6b6b;
        }
    }

    &__block {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin: -3px -5px;
        padding: 3px 5px;

        span {
            width: 250px;
        }
    }
}

//========================================================================================================================================================
.error {
    color: tomato;
    padding: 0px 0px 10px 0px;
}

//========================================================================================================================================================
.follow {
    width: 100%;
}

//========================================================================================================================================================
input[type='file'] {
    display: none;
}

//========================================================================================================================================================
.contacts {
    padding: 0px 0px 0px 15px;
}

//========================================================================================================================================================
.search {
    background: #B5E48C;
    border: 2px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    z-index: 2;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: #91C763;
        transition: all 0.3s ease 0s;
    }

    img {
        margin: 2px 0px 0px 0px;
        z-index: 2;
    }
}
