// import ui from '../../../scss/ui.module.scss';
// .
// .
// .
//========================================================================================================================================================

._btn {
    text-decoration: none;
    display: block;
    border: 1px solid #fff;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin: 0px 0px 0px 0px;
    transition: .3s ease-in-out;

    &:hover {
        box-shadow: 0 0 5px 0 #000 inset, 0 0 20px 1px #fff;
        color: #fff;
    }
}

//========================================================================================================================================================

._area {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background-color: #4b4b4e;
    color: #fff;

    &:focus {
        border: 3px solid #B5E48C;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
}

//========================================================================================================================================================
.nav {
    &:hover {
        li {
            box-shadow: 0 0 15px #B5E48C;
        }
    }
}

.nav_active {
    li {
        border: 2px solid #B5E48C;
    }
}

//========================================================================================================================================================
.dialog {}

.dialog_active {
    background-color: #000;
}

//========================================================================================================================================================
.num {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4e;
    cursor: pointer;
    width: 35px;
    height: 35px;

    &:hover {
        background-color: #000;
    }
}

.selected {
    font-weight: bold;
    color: gold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 35px;
    height: 35px;
}

//========================================================================================================================================================
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

//========================================================================================================================================================
.input {
    border: 1px solid #B5E48C;
    background-color: #6b6b6b;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    width: 250px;
    &::placeholder {
        color: #aaa;
    }

    &__div {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        margin: -3px -5px;
        padding: 3px 5px;
        span {
            width: 250px;
        }

        &:hover {
            background-color: #6b6b6b;
        }
    }
}

//========================================================================================================================================================
.error {
    color: tomato;
    padding: 0px 0px 10px 0px;
}

//========================================================================================================================================================
.follow {
    width: 100%;
}
//========================================================================================================================================================
input[type='file'] {
    display: none;
}
//========================================================================================================================================================
.contacts {
    padding: 0px 0px 0px 15px;
}
